<h1>
  <%= @restaurant.name %>
</h1>

<h3>Address</h3>
<p>
  <%= @restaurant.address %>
</p>

<h3>Category</h3>
<p>
  <%= @restaurant.category.capitalize %>
</p>

<% if @restaurant.phone_number.present? %>
  <h3>Phone Number</h3>
  <p>
    <%= @restaurant.phone_number %>
  </p>
<% end %>

<%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %>

<%= link_to 'View all reviews', restaurant_reviews_path(@restaurant) %>

<%= link_to 'Return to all restaurants', restaurants_path %>
